numpy<1.24.0
diffusers==0.29.2
transformers==4.36.0
peft
accelerate
insightface
onnxruntime-gpu
gradio
face-alignment
omegaconf
pytorch-lightning==1.4.9
torchmetrics==0.6.2
torchfile
facenet-pytorch
chumpy